.chat-form {
    margin-top: 40px;
    padding: 5px 0;
    width: 650px;
    background-color: #FAFAFA;
}

.chat-form-header {
    display: flex;
    align-items: center;
    padding: 0 30px;
    height: 50px;
    margin: 0;
}

.chat-form-messages {
    height: 500px;
    overflow: scroll;
    flex-direction: column;
    margin: 0;
    background-color: white;
}

.chat-form-send-message {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}

.chat-form-header .text {
    color:#425664;
    font-size: 18px;
}

.area-input-message {
    margin-top: 5px;
    width: 85%;
}

.spacer {
    flex: 1 1 auto;
  }