<mat-card class="chat-form">
    <mat-card-content class="chat-form-header">
        <article class="text">{{this.user.getUserById(this.user.getIdCurrentUser()).name}}</article>
        <span class="spacer"></span>
        <button mat-icon-button (click) = "onLogOut()"><mat-icon>exit_to_app</mat-icon></button>
    </mat-card-content>
  <mat-card-content class="chat-form-messages">
    <app-form-message></app-form-message>
  </mat-card-content>
  <mat-card-actions class="chat-form-send-message">
    <span class="spacer"></span>
    <mat-form-field class="area-input-message">
      <textarea matTextareaAutosize matInput placeholder="Введите сообщение" [(ngModel)]="textMessage"></textarea>
    </mat-form-field>
    <button mat-icon-button (click) = "onMessageSend()"><mat-icon>send</mat-icon></button> 
    <span class="spacer"></span>
  </mat-card-actions>
</mat-card>