<mat-toolbar *ngFor="let message of listMessages" class="form-message">
    <mat-toolbar-row>
        <article class="text-user-name">{{showNameCurrentUser(message.idUser)}}</article>
        <span class="spacer"></span>
        <article class="text-time">{{message.time}}</article>
    </mat-toolbar-row>

    <mat-toolbar-row class="form-row" *ngIf="!formRedactMessageVisible(message.idMessage)">
        <article class="text">{{message.textMessage}}</article>
    </mat-toolbar-row>

    <mat-toolbar-row class="form-row" *ngIf="actionForMessageVisible(message.idUser)">
        <div class="form-redact" *ngIf="!formRedactMessageVisible(message.idMessage)">
            <span class="spacer"></span>
            <button mat-icon-button (click) = "onOpenFormRedactMessage(message.idMessage, message.textMessage)"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button (click) = "onDeleteMessage(message.idMessage)"><mat-icon>delete</mat-icon></button>
        </div>
        <div class="form-redact" *ngIf="formRedactMessageVisible(message.idMessage)">
            <textarea autofocus class="text" matTextareaAutosize matInput placeholder="Редактирование сообщения" [(ngModel)]="textRedactMessage"></textarea>
            <button mat-icon-button (click) = "onRedactMessage(message.idMessage)"><mat-icon>check</mat-icon></button>
            <button mat-icon-button (click) = "onCloseFormRedactMessage()"><mat-icon>clear</mat-icon></button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>